<div class="page-container">

    <div class="page-header">
        <div class="title blu">
            Non-Discolsure Agreement
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="field">
                <span class="label title">Description</span>
            </div>
            <div class="control">
                <mat-label class="title-lbl">Standard document</mat-label>
            </div>
        </div>

        <div class="row mt35">
            <div class="field">
                <span class="label title blk">Settings</span>
            </div>
            <div class="control mt20">
                <mat-label class="title-lbl">Active
                </mat-label>

                <div class="divider"></div>

                <mat-label class="title-lbl">Has end date</mat-label>

                <div class="divider"></div>

                <mat-label class="title-lbl">Has number</mat-label>

                <div class="divider"></div>

                <mat-label class="title-lbl">Has document</mat-label>

                <div class="divider"></div>

                <mat-label class="title-lbl">Requires end date</mat-label>

                <div class="divider"></div>

                <mat-label class="title-lbl">Requires document</mat-label>

                <div class="divider"></div>

                <mat-label class="title-lbl">Requires document number</mat-label>

            </div>
        </div>

    </div>
    <div class="mt35 pl28 center">
        <button class="btn btn-grey btn-fill" (click)="close()">CLOSE</button>
    </div>

</div>