<div class="page-container">
    <div class="close">
        <a class="a-close"></a>
    </div>
    <div class="center">
        <mat-label class="label">Please make the following <br> certifications:</mat-label>
        <div class="content">
            <div class="flex">
                <div>
                    <app-custom-checkbox #chk1 [checked]="true"></app-custom-checkbox>
                </div>
                <div>
                    <p (click)="markCheck(chk1)">I hereby certify that I am an Authorized representative of the legal
                        entity and that the
                        information provided in connection with this form is true and accurate.</p>
                </div>
            </div>
            <div class="flex">
                <div>
                    <app-custom-checkbox #chk2 [checked]="true"></app-custom-checkbox>
                </div>
                <div>
                    <p (click)="markCheck(chk2)">I authorize Nexity to record and use the information it obtains from me
                        for auditing and crime
                        prevention.</p>
                </div>
            </div>
        </div>
        <div class="mt20">
            <button class="btn btn-green">FINISH</button>
        </div>

    </div>
</div>