.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;

  // Hide the browser's default checkbox
  .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // Create a custom checkbox
  .checkbox-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border: 1px solid #c0c7db;
    border-radius: 5px;

    .checkbox-filling {
      width: 10px;
      height: 10px;
      background: url('/assets/img/tick.svg');
      background-repeat: no-repeat;
      margin-top: 4px;
    }
  }
}