<div class="page-header">
    <h1 class="title">Know your business. Trust your partners.</h1>
    <div class="label">Please provide complete and accurate information about your entity.</div>
</div>

<div class="page-container">
    <h1 class="title">Business Information</h1>

    <form class="flex">
        <div class="row">
            <mat-label class="label">Trade Name</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" value="Rosoftlab" matInput>
            </mat-form-field>

            <mat-label class="label">Tax ID/Registration number</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">Country of Registration</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <mat-select value="Romania">
                    <mat-option value="Romania">Romania</mat-option>
                    <mat-option value="UK">UK</mat-option>
                    <mat-option value="USA">USA</mat-option>
                    <mat-option value="Canada">Canada</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-label class="label">Company Website</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" value="www.nexitynetwork.org" matInput>
            </mat-form-field>

            <mat-label class="label">Number of employees</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <mat-select value="11-50 employees">
                    <mat-option value="11-50 employees">11-50 employees</mat-option>
                    <mat-option value="50-70 employees">50-70 employees</mat-option>
                    <mat-option value="70-90 employees">70-90 employees</mat-option>
                    <mat-option value="100+ employees">100+ employees</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="row row1">
            <mat-label class="label">Country </mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <mat-select value="Romania">
                    <mat-option value="Romania">Romania</mat-option>
                    <mat-option value="UK">UK</mat-option>
                    <mat-option value="USA">USA</mat-option>
                    <mat-option value="Canada">Canada</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-label class="label">Street Address</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">City</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">State/Province</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">Zip/Postal Code</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>
        </div>


    </form>

</div>
<div class="page-footer">
    <button class="btn btn-green">Next</button>
</div>