.page-container {
    margin: auto;
    width: 80%;
    padding: 40px 40px 40px 60px;


    .actions {
        text-align: right;

        button {
            margin-right: 3px !important;
        }
    }

    .content {
        min-width: 100%;
        min-height: 500px;


        .empty {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            color: #6B7A99;
            margin: auto;
            width: inherit;
            height: 500px;
            text-align: center;
            top: 50%;
            position: relative;
        }

        .tx-table {

            font-family: 'Roboto';
            font-style: normal;
            width: 100%;
            height: auto;
            margin-top: 30px;

            .tx-header {
                background: linear-gradient(90deg, #00B8B8 0%, #078BA5 98.32%);
                box-shadow: 0px 4px 12px #E2E3E7;
                border-radius: 10px 10px 0px 0px;
                height: 46px;
                padding: 10px;
                font-weight: 700;
                font-size: 14px;
                color: #FFFFFF;
            }

            .tx-header>ul {
                list-style: none;
                display: flex;
            }

            .tx-header>ul li:nth-child(1),
            .tx-body a div:nth-child(1) {
                width: 26.66%;
            }

            .tx-header>ul li:nth-child(2),
            .tx-body a div:nth-child(2) {
                width: 26.66%;
            }

            .tx-header>ul li:nth-child(3),
            .tx-body a div:nth-child(3) {
                width: 26.66%;
            }

            .tx-header>ul li:nth-child(4),
            .tx-body a div:nth-child(4) {
                width: 26.66%;
            }

            .tx-body a div:nth-child(n) {
                padding-top: 20px;
                font-weight: 600;
                font-size: 12px;
                color: #6B7A99;
            }

            .tx-body a div:nth-child(1) {
                color: #000000;
            }


            .tx-body a {
                display: flex;
                height: inherit;
                cursor: pointer;
            }

            .tx-body {
                height: 60px;
                padding-left: 46px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 12.09%, #FFFFFF 85.31%, rgba(245, 246, 248, 0) 98.32%);
                filter: drop-shadow(0px 4px 12px #E2E3E7);
                border-radius: 14px;
                margin-top: 7px;
            }

            .tx-body.open {
                border-radius: 14px 14px 0px 0px;
            }

            .tx-detail-row a div:nth-child(n) {
                width: 20%;
            }

            .tx-detail-row {

                height: 60px;
                padding-left: 46px;
                background: #6B7A99;
                box-shadow: 0px 4px 12px #E2E3E7;
                border-radius: 0px 0px 14px 14px;

            }

            .tx-detail-row a {
                display: flex;
                height: inherit;
            }

            .tx-detail-row a div:nth-child(n) {
                padding-top: 20px;
                font-weight: 600;
                font-size: 12px;
                color: #FFFFFF;
            }



        }
    }

}