<div class="top-action-container"
    *ngIf="this.router.url != '/products-and-services/products' && this.router.url != '/products-and-services/services'">
    <a (click)="goBackToList()">
        <img src="assets/img/left-arrow.svg" /> <span class="back"> Back to List </span>
    </a>
</div>

<div class="tabs">
    <div class="tab p-tab" [ngClass]="{'active': this.router.url.indexOf('/products-and-services/product')>=0}">
        <a [routerLink]="['/products-and-services','products']">
            <img src="assets/img/product.svg" />
            <div>Products</div>
        </a>
    </div>
    <div class="tab o-tab" [ngClass]="{'active': router.url.indexOf('/products-and-services/service')>=0}">
        <a [routerLink]="['/products-and-services' ,'services']">
            <img src="assets/img/org-icon.svg" />
            <div>Services</div>
        </a>
    </div>
</div>
<router-outlet></router-outlet>