.tabs {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        color: #6B7A99;
        text-decoration: none;
        cursor: pointer;
    }

    .tab {
        padding-top: 14px;
    }

    .p-tab {
        width: 7.4%;
        min-height: 72px;
    }

    .o-tab {
        width: 8.5%;
        min-height: 72px;
    }

    .m-tab {
        width: 7.77%;
        min-height: 72px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .p-tab.active,
    .p-tab.tab:hover {
        background: url('/assets/img/left-bg-md.svg');
        background-repeat: no-repeat;
    }

    .o-tab.active,
    .o-tab.tab:hover {
        background: url('/assets/img/right-bg-md.svg');
        background-repeat: no-repeat;
    }

    .m-tab.active,
    .m-tab.tab:hover {
        background: url('/assets/img/middle-bg.svg');
        background-repeat: no-repeat;
    }
}