<div class="page-container">
    <div class="close">
        <a class="a-close"></a>
    </div>
    <div class="content">
        <div class="row">
            <div class="field">
                <span>First Name</span>
            </div>
            <div class="control">
                <mat-form-field appearance="outline" fxFlex fxFill>
                    <input class="input" value="Mihai" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span>Last Name</span>
            </div>
            <div class="control">
                <mat-form-field appearance="outline" fxFlex fxFill>
                    <input class="input" value="Dumitrescu" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span>Email</span>
            </div>
            <div class="control">
                <mat-form-field appearance="outline" fxFlex fxFill>
                    <input class="input" value="mihai.rosoftlab.net" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span>Department</span>
            </div>
            <div class="control">
                <mat-form-field appearance="outline" fxFlex fxFill>
                    <input class="input" value="Executive" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span>Permission</span>
            </div>
            <div class="control">
                <mat-form-field appearance="outline" fxFlex fxFill>
                    <input class="input" value="Admin" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="mt20 pl28">
        <button class="btn btn-grey btn-fill">Cancel</button>
        <button class="btn btn-green">Add</button>
    </div>

</div>