<div class="page-header"></div>
<div class="page-container">
    <div class="flex">
        <div class="box box-w center">
            <div class="lbl">Referral ID</div>
            <div class="field flex">
                <div class="txt">b4c13c....66dc</div>
                <img src="/assets/img/copy.svg" />
            </div>
            <div class="divider"></div>
            <div class="lbl">Referral Link</div>
            <div class="field flex">
                <div class="txt">DDuM+2...dpG+Y</div>
                <img src="/assets/img/copy.svg" />
            </div>
        </div>
        <div class="divider-v"></div>
        <div class="box-w">
            <div class="box-sm">
                <div class="lbl">Your Earnings</div>
                <div>
                    <span class="number">419</span>
                    <span class="txt">NXT</span>
                </div>
            </div>
            <div class="divider"></div>
            <div class="box-sm">
                <div class="lbl">Partners Referred</div>
                <div>
                    <span class="number">15</span>
                </div>
            </div>
        </div>
        <div class="divider-v"></div>
        <div class="box box-w detail">
            <div class="links flex">
                <div>Referral rules</div>
                <img src="assets/img/arrow-sm.svg">
            </div>
            <div class="links flex">
                <div>Learn more about fees</div>
                <img src="assets/img/arrow-sm.svg">
            </div>
            <div class="links flex">
                <div>Green behaviours</div>
                <img src="assets/img/arrow-sm.svg">
            </div>

            <div class="divider"></div>
            <button class="btn btn-green">sync Lifecycle &nbsp;&nbsp;&nbsp;</button>
            <button class="btn btn-info">sync Circlechain </button>
        </div>
    </div>
</div>