<div class="file-container"
    [ngClass]="{ 'landscape' : view == 'l' , 'align-left' : view == 'l' , 'droparea' : isDrop }">
    <button class="btn btnuploadfile" [ngClass]="{ 'long-txt' : title.length>11 }" (click)="browseFile()">
        <span>{{ title }}</span>
    </button>
    <span>or drag your documents to start uploading</span>
    <span class="error" *ngIf="error">Only one file at time allow</span>
    <span class="filename" *ngIf="fileName">{{ fileName }}</span>
    <input type="file" [id]="fileId" [multiple]="false" (change)="onFileChange($event)" style="display:none" />
</div>