.file-container {
    box-sizing: border-box;
    width: 267px;
    height: 275px;
    border-radius: 10px;
    background-position: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed #DDDFE4;

    .btnuploadfile {
        width: 135px;
        height: 40px;
        background: #077DE9;
        border-radius: 8px;
        position: relative;
        left: 20%;
        cursor: pointer;

        span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #FFFFFF;
            text-transform: none;
        }
    }

    span {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #6B7A99;

    }

    .error {
        color: #f00 !important;
    }

    .filename {
        color: #85bff4 !important;
    }
}



.droparea {
    border: 1px dashed #61acf1 !important;
    background-color: #ffffff !important;
}


.align-left {
    margin: 0px !important;
}

.landscape {
    width: 281px !important;
    height: 163px !important;
    margin: auto !important;
}

.landscape .long-txt {
    width: 175px !important;
}