<div class="page-container">
    <div class="page-header">
        <div class="actions">
            <button class="btn btn-green" (click)="addSetup()">ADD SETUP</button>
            <button class="btn btn-grey btn-fill">REMOVE</button>
        </div>
    </div>
    <div class="content">

        <div class="card-row">
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">Master Agreement</div>
                <div class="description">Standard</div>
                <div class="tag" (click)="viewDetails()" (click)="viewDetails()">View Details</div>
            </div>
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">NDA</div>
                <div class="description">Consignment</div>
                <div class="tag" (click)="viewDetails()">View Details</div>
            </div>
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">Development</div>
                <div class="description">Subcontracting</div>
                <div class="tag" (click)="viewDetails()">View Details</div>
            </div>
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">Document name</div>
                <div class="description">Description</div>
                <div class="tag" (click)="viewDetails()">View Details</div>
            </div>
        </div>
        <div class="card-row">
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">Document name</div>
                <div class="description">Description</div>
                <div class="tag" (click)="viewDetails()">View Details</div>
            </div>
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">Document name</div>
                <div class="description">Description</div>
                <div class="tag" (click)="viewDetails()">View Details</div>
            </div>
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">Document name</div>
                <div class="description">Description</div>
                <div class="tag" (click)="viewDetails()">View Details</div>
            </div>
            <div class="card center">
                <img src="/assets/img/document-icon.svg">
                <div class="title">Document name</div>
                <div class="description">Description</div>
                <div class="tag" (click)="viewDetails()">View Details</div>
            </div>
        </div>
        <!-- <div class="empty">No documents yet.</div> -->
    </div>
</div>