<div class="page-header"></div>
<div class="page-container">
    <h1 class="title">Authorized Reprezentative</h1>

    <form class="flex">
        <div class="row">
            <mat-label class="label">First Name</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">Last Name</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">Email</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">Phone Number</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">Job Title</mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <input class="input" matInput>
            </mat-form-field>

            <mat-label class="label">Form of ID </mat-label>
            <mat-form-field appearance="outline" fxFlex fxFill>
                <mat-select value="Passport / Identity Card / Driver’s License">
                    <mat-option value="Passport / Identity Card / Driver’s License">Passport / Identity Card / Driver’s
                        License</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="row row1">
            <app-browse-file></app-browse-file>
            <div class="points">
                <h1>Please check that:</h1>
                <div class="items">
                    All corners of both pages are visible.<br>
                    The passport is not expired.<br>
                    All passport information is legible.<br>
                    The submitted file is in color.
                </div>
            </div>
        </div>


    </form>

</div>
<div class="page-footer">
    <button class="btn btn-green">Next</button>
</div>