.page-container {
    margin: auto;
    width: 70%;
    padding: 40px 40px 40px 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 45.88%, rgba(245, 246, 248, 0) 98.32%);
    border-radius: 14px;
    box-sizing: border-box;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #FFFFFF 1.51%, #C0C7DB 51.06%, #FFFFFF 100%);
    box-shadow: 0px 4px 12px 0px #e3e3e3;
    filter: drop-shadow(0px 4px 12px #E3E3E3);



}