.page-container {
    margin: auto;
    width: 80%;
    padding: 40px 40px 40px 60px;


    .actions {
        text-align: right;

        button {
            margin-right: 3px !important;
        }
    }

    .content {
        min-width: 100%;
        min-height: 500px;
        height: 500px;

        .empty {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            color: #6B7A99;
            margin: auto;
            width: inherit;
            height: inherit;
            text-align: center;
            top: 50%;
            position: relative;
        }
    }

}