.page-container {
    margin: auto;
    width: 53%;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 45.88%, rgba(245, 246, 248, 0) 98.32%);
    border-radius: 14px;
    box-sizing: border-box;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #FFFFFF 1.51%, #C0C7DB 51.06%, #FFFFFF 100%);
    box-shadow: 0px 4px 12px 0px #e3e3e3;
    filter: drop-shadow(0px 4px 12px #E3E3E3);

    .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        color: #2E2E3A;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 8px;
    }

    .label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #6B7A99;
    }

    .flex {
        display: flex;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .row {
        width: 100%;
        padding-right: 50px;
    }

    .row1 {
        padding-right: 30px !important;
        padding-top: 35px !important;
    }

    .mt58 {
        margin-top: 58px;
    }

    .mat-form-field {
        height: auto !important;
    }

    .mgtb {
        margin-top: 32px;
        margin-bottom: 75px;
    }

    .arti {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 26px;
        color: #000000;
    }
}

::ng-deep .mat-option-text,
::ng-deep .mat-select-min-line,
input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.page-header,
.page-footer {
    margin: auto;
    width: 53%;
    padding: 40px;
}


h1.sm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    padding-top: 10px;
    margin-bottom: 18px;
    color: #077DE9;
}

::ng-deep .mat-form-field-infix {
    padding-top: 6px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 10px !important;
    border-left-style: solid !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    min-width: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    display: none;
}

.chk-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.divider {
    clear: both;
    height: 25px;
}