.page-container {
    margin: auto;
    width: 80%;
    padding: 40px 40px 40px 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 45.88%, rgba(245, 246, 248, 0) 98.32%);
    border-radius: 14px;
    box-sizing: border-box;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #FFFFFF 1.51%, #C0C7DB 51.06%, #FFFFFF 100%);
    box-shadow: 0px 4px 12px 0px #e3e3e3;
    filter: drop-shadow(0px 4px 12px #E3E3E3);

    .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        color: #2E2E3A;
        letter-spacing: 0em;
        text-align: left;
    }

    .mt15 {
        padding-top: 15px;
    }

    .blk {
        color: #000000 !important;
    }

    .label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #6B7A99;
    }

    .flex {
        display: flex;
    }

    .row {
        display: block !important;
        width: 50%;
        padding-right: 50px;
    }

    .row1 {
        padding-right: 30px !important;
    }

    .mat-form-field {
        height: auto !important;
    }

    .title-lbl {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        line-height: 100%;
        color: #6B7A99;
    }

    .red {
        color: #E85555;
    }

    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }

    .divider {
        clear: both;
        height: 10px;
    }


    .hyperlink {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #077DE9;
        margin-left: 10px;
    }

    .content {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 40px;

        .row {

            .field {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                margin-bottom: 10px;
            }

            .control {}
        }
    }

    .pl28 {
        padding-left: 28px;
    }


}

::ng-deep .mat-option-text,
::ng-deep .mat-select-min-line,
input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.page-footer {
    margin: auto;
    width: 80%;
    padding: 40px 40px 40px 60px;
}


::ng-deep .mat-select-arrow {
    width: 18px !important;
    height: 9px !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    margin: 0px !important;
    background: url(/assets/img/arrow.svg);
    background-repeat: no-repeat;
    margin-top: 10px !important;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
    width: 8px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::ng-deep .mat-form-field-infix {
    padding-top: 6px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 10px !important;
    border-left-style: solid !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    min-width: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    display: none;
}


::ng-deep .mat-form-field-infix {
    padding-top: 6px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 10px !important;
    border-left-style: solid !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    min-width: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    display: none;
}

::ng-deep .mat-option-text,
::ng-deep .mat-select-min-line,
input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}




:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #12b4d4;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #ffffff;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
    background-color: #12b4d4;
}

.toggle-md {
    transform: scale(1.3);
}

.toggle-sm {
    transform: scale(1);
}

::ng-deep .mat-slide-toggle-bar {
    height: 20px !important;
    border-radius: 10px !important;
}

::ng-deep .mat-slide-toggle-thumb-container {
    margin-top: 3px;
}